@for (book of books; track $index) {
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{book.imageroute}}" class="img-fluid rounded-start" alt="{{book.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">Año de Publicación: {{book.year}}</p>
        <p class="card-text">Autor: {{book.nameauthor}} {{book.lastnameauthor}}</p>
        <p class="card-text">Editorial: {{book.editorial}}</p>
        <p class="card-text">Categorías: {{book.namecategory}}</p>
        <p class="card-text">{{book.description}}</p>
        <div class="row">
          <div class="col-md-6">
            <a [href]="book.pdfroute" target="_blank" class="btn btn-primary">Ver PDF</a>
          </div>
          <div class="col-md-6">
            <a [href]="book.downloadroute" class="btn btn-success">Descargar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
