<div>
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <label for="rating">Rating</label>
    <input id="rating" formControlName="rating" type="number" min="1" max="5">

    <label for="comment">Comment</label>
    <textarea id="comment" formControlName="comment"></textarea>

    <label for="is_approved">Is Approved</label>
    <input id="is_approved" formControlName="is_approved" type="checkbox">


    <button type="submit">Submit</button>
  </form>
</div>

<div>
  <h2>Reviews List</h2>
  <ul>
    <li *ngFor="let review of reviews">
      <strong>Rating:</strong> {{ review.rating }}<br>
      <strong>Comment:</strong> {{ review.comment }}<br>
      <strong>Approved:</strong> {{ review.is_approved }}<br>
     
    </li>
  </ul>
</div>
